<p style="color: green"><%= notice %></p>

<% content_for :title, "Event invites" %>

<h1>All Invitations sent for <%= @event.title %></h1>

<p>Invited Users:</p>

<div>
  <% EventInvite.where(event_id: @event).each do |invite| %>
    <p>
      <%= invite.user.username %>
      <%= link_to "Delete Invite", event_event_invite_path(id: invite.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>
  <% if EventInvite.where(event_id: @event).empty? %>
    <p>No invites have been sent...</p>
  <% end %>
</div>

<div>
  <%= link_to "Back to #{@event.title}", @event %>
</div>
