<h1>Create Event</h1>

<%= form_with(model: @event) do |form| %>
    <% if @event.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being created</h2>

            <ul>
                <% @event.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.label :title, "Title:" %>
        <%= form.text_field :title %><br />
    </div>

    <div>
        <%= form.label :location, "Located at:" %>
        <%= form.text_field :location %><br />
    </div>

    <div>
        <%= form.label :event_date, "Date:" %>
        <%= form.date_field :event_date, min: Date.today %><br />
    </div>

    <div>
        <%= form.label :details, "Details:" %>
        <%= form.text_area :details %><br />
    </div>

    <div>
        <%= form.submit "Submit" %>
    </div>
<% end %>