<div>
    <h1><%= @event.title %></h1>
    
    <h2>Created by: <%= link_to @event.creator.username, @event.creator %></h2>
    
    <p>Location: <%= @event.location %></p>
    
    <p>Date: <%= @event.event_date.to_date.strftime('%A, %B %e, %Y')%></p>
    
    <p>Details:</p>
    <%= @event.details %>
</div>

<div>
    <% unless Event.past.include?(@event) || !current_user.events.include?(@event) %>
        <p><%= link_to "Edit event", edit_event_path %></p>
    <% end %>
</div>

<div>
    <% unless Event.past.include?(@event) || !current_user.events.include?(@event) %>
        <p><%= link_to "Delete", @event, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
    <% end %>
</div>

<div>
    <h2>Attendees: <%= @event.event_attendees.count %></h2>
</div>

<div>
    <% if Date.today < @event.event_date  %>
        <div>
            <p>Click the button below if you plan on attending</p>
            <%= button_to "Attend", event_attendees_path(event_attendee: {attended_event_id: @event, attendee_id: current_user} ) %>
        </div>
    <% end %>
</div>
