<h2>Today's Events</h2>

<% if @events.today.none?  %>
    <p>No events are scheduld for today...</p>
<% else %>
    <ul>
        <% @events.today.each do |event| %>
            <li>
                <h3><%= link_to event.title, event %></h3>
                <p> Location: <%= event.location %></p>
                <p>Date: <%= event.event_date.strftime('%A, %B %e, %Y') %></p>
                <p>Created by: <%= link_to event.creator.username, event.creator %></p>
                <p>Open to: <b/><%= event.is_private? ? "Invitation Only" : "Public" %></b></p>
            </li>
        <% end %>
    </ul>
<% end %>